/* CONTENT */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    width: 100%;
    background-color: $purple;
    color: $light;
    font-family: $font-stack;
    line-height: $line-height;
    font-size: $font-size-base;
}

h1 {
    margin-bottom: 40px;
}

p {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: $pink;
    font-weight: bold;
    padding: 5px;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}