// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}
.box {
    input {
        position: relative;
        display: inline-block;
        font-size: 20px;
        box-sizing: border-box;
        transition: .5s;
    }
    input[type="text"] {
        background: #fff;
    }
}
.nav {
    &__links {
        list-style: none;
        li {
            display: inline-block;
            padding: 0px 10px;
            a {
                transition: all 0.3s ease 0s;
                text-decoration: none;
                &:hover {
                    color: #0088a9;
                }
            }
        }
    }
}